json-file/marit_base-admession.json
{
  "name": "marit_base-admession",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2019902978,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=2019902978"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        272
      ],
      "id": "266a748a-773a-4e07-9c8c-bbe57f8d156f",
      "name": "Google Sheets Trigger",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "1AglWSH9oI3Nog8z",
          "name": "Google Sheets Trigger account"
        }
      },
      "notes": "Google_Sheet\n"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Percentage",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1120,
        -192
      ],
      "id": "667336be-9d0b-46bd-a72d-f2cdcc6aad00",
      "name": "Sort2",
      "notesInFlow": true,
      "notes": "Sort all data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1996888869,
          "mode": "list",
          "cachedResultName": "All_record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=1996888869"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Marks",
              "displayName": "Marks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Percentage",
              "displayName": "Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "District",
              "displayName": "District",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -480,
        -192
      ],
      "id": "7b5b8aa8-b238-46d1-b44d-6ea6210cfc07",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d95a51eb-dc65-454f-949b-ce5fc4d68fed",
              "leftValue": "={{ $json.Percentage }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        64
      ],
      "id": "127e9593-4bf6-482f-a295-2b83310356f2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Above50%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -736,
        -112
      ],
      "id": "9f3f6e83-30a8-4429-926b-48798cefdd6a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2021132928,
          "mode": "list",
          "cachedResultName": "Below50%",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=2021132928"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -736,
        240
      ],
      "id": "376d034a-af27-4d17-8efe-9c0bc89d2842",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.District }}",
                    "rightValue": "Shigar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cb2671ff-4c53-430a-998e-3c45466c3f13"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0cf9b541-7fcf-4622-80ce-11cedd2ea89f",
                    "leftValue": "={{ $json.District }}",
                    "rightValue": "Skardu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76c635fc-4a8d-464d-a831-a7ee255ccb5c",
                    "leftValue": "={{ $json.District }}",
                    "rightValue": "Kharmang",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db082b1a-37f6-49b5-8766-30a12876f2a9",
                    "leftValue": "={{ $json.District }}",
                    "rightValue": "Rondu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e219494-1019-435b-ae84-78f13877f0c4",
                    "leftValue": "={{ $json.District }}",
                    "rightValue": "Khaplu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        0
      ],
      "id": "8cde7fe4-a3da-4a4a-897d-3515a91a9551",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1967617858,
          "mode": "list",
          "cachedResultName": "Shigar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=1967617858"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marks",
              "displayName": "Marks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Percentage",
              "displayName": "Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "District",
              "displayName": "District",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        -256
      ],
      "id": "93c2836d-270d-4cc7-a28f-bf431f688359",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1250041573,
          "mode": "list",
          "cachedResultName": "Skardu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=1250041573"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "FirstName",
              "displayName": "FirstName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastName",
              "displayName": "LastName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marks",
              "displayName": "Marks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Percentage",
              "displayName": "Percentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "District",
              "displayName": "District",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        -80
      ],
      "id": "c9b75766-75f1-46fc-b7d1-6f262d073657",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 392535839,
          "mode": "list",
          "cachedResultName": "Kharmang",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=392535839"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        336,
        48
      ],
      "id": "82c37f01-22a3-488b-a371-0a31aafbc876",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1009149814,
          "mode": "list",
          "cachedResultName": "Rondu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=1009149814"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        144
      ],
      "id": "ee066731-7476-4f19-9b8e-28a9740c9c7a",
      "name": "Append row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw",
          "mode": "list",
          "cachedResultName": "Admession form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 323754679,
          "mode": "list",
          "cachedResultName": "Khaplu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XaOypeT98iYZN_OeiO1fpKEm39iQzgeP1HAcnKt5Aqw/edit#gid=323754679"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        96,
        336
      ],
      "id": "8a3e99e9-bce4-4442-9727-ac269870cbe0",
      "name": "Append row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QXNrp1TCwIieQnXp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Percentage",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -736,
        48
      ],
      "id": "e2d52e62-da56-4710-b7f6-3229b5740dad",
      "name": "Sort",
      "notesInFlow": true,
      "notes": "Sort all data"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "Percentage",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1008,
        240
      ],
      "id": "65d3a8ea-2604-4240-b8e1-5999b10b299f",
      "name": "Sort1",
      "notesInFlow": true,
      "notes": "Sort all data"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b996d83-583d-48b7-8035-e5c9d23e02be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdc8fab62e3c31065a2575beb7a0f562db058fd8d0a135f822305e5e1bbbe6ea"
  },
  "id": "RJ7T5RlBGF0vb6oV",
  "tags": []
}